@using WebApplication1.Helper
@model WebApplication1.Models.Filter
@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @{
        var allGenres = Help.AllGenres;
        var sli = allGenres.Select(x => new SelectListItem
        {
            Value = x.ToString(),
            Text = x.ToString()
        }).ToList();
     }

@using (Html.BeginForm("FilterdFilms", "Home"))
{
    <form role="form">
        <div>
            <div class="form-group">
            <p><label>Выберите жанр</label> @Html.DropDownListFor(x => x.genre, sli, new { @class = "form-control" })</p>
            <p><label>Введите год</label> @Html.TextBoxFor(x => x.year, new { @class = "form-control" })</p>
            <input type="submit" value="Фильтровать" class="btn btn-default">
            </div>
        </div>
    </form>
        }

</div>

