
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="d">
    <p>
        <b>Tower of London</b>
        — одна из наиболее заметных и популярных лондонских исторических достопримечательностей. Он включает не одну, а 20 башен. Самая старая из них — Белая Башня, которая уходит в историю XI столетия и времена Вильгельма Завоевателя. Сегодня много туристов посещают лондонский Тауэр, привлеченные его недоброй репутацией тюрьмы. Тауэр известен как хранилище королевских драгоценностей. Сегодня их можно увидеть в новом ювелирном доме. Среди них корона матери королевы Елизаветы, которая содержит знаменитый индийский алмаз.
        Много сюжетов, связанных с британской историей, пришли из Тауэра. В 1483 году два сына короля Эдварда IV были убиты в так называемой Башне Крови. Через два столетия скелеты двух мальчиков были похоронены под ступеньками в Белой Башне.
    <p>
        Ворота Предателя имеют ступеньки, спускающиеся в реку Темзу. Большое количество заключенных, включая будущую королеву Англии Елизавету I, были привезены в Тауэр баржей и поднимались по ступенькам перед тем, как стать заключенными. Для многих это был последний миг свободы перед смертью. Но Елизавета была освобождена из Тауэра и стала королевой. Вторая жена короля, Анна Болеин, была отдана в 1536 году под суд и обезглавлена. Шесть лет спустя ее кузину Екатерину, пятую жену Генриха VIII, постигла та же судьба. Томас Мор был обезглавлен здесь в 1535 году.
        Конечно, визит в Тауэр не будет считаться состоявшимися, если вы не увидите ворон, огромных черных птиц, которые являются законными обитателями Тауэра. Легенда гласит, что если вороны покинут Тауэр, корона падет и Британия вместе с ней. Под специальным наблюдением хозяина ворон им дают дневную порцию сырого мяса. И нет опасения, что они улетят, потому что их крылья подрезаны.
    </p>

</div>