
@{
    ViewBag.Title = "Image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 

    <div class="d">
        <img height="370px" src="~/Content/image/tower.jpg" alt="здесь должнен быть тауэр">
    </div>

