@model WebApplication1.Models.Initializ
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Comment"))
{


<p>
    Введите Ваше имя
    @Html.TextBoxFor(x => x.kto)
    <input type="submit" value="Отправить">

</p>
}