@model WebApplication1.Models.Initializ
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@using (Html.BeginForm("Index"))
{
    <form role="form">
        
        <h3 class="text-center">Добро пожаловать на сайт!!</h3>

        <div class="form-group">
        <p>
            
               
                <label>Введите Ваше имя</label>
                @Html.TextBoxFor(x => x.kto, new { @class = "form-control" })
                <input type="submit" value="Отправить" class="btn btn-default">
            
        </p>
        </div>
   
        </form>
        }
