@model WebApplication1.Models.Musictime
@{
    ViewBag.Title = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d">

    <audio controls>

        <source src="~/Content/music/System Of A Down - Lonely Day [с сайта www.ololo.fm].mp3">
    </audio>
    <p>
        Дата создания песни:
        @Model.songtime.ToShortDateString()
      </p>
    <p>  Прошло вермени
   
        @Model.differ.Days
    дней
    </p>
    
</div>